{% extends "base.html" %}

{% block content %}
<div class="center">
    <h1 class="title1">
        ADS-B Table
    </h1>

    <table id="flight-table" class="table table-striped table-hover table-bordered text-center">
        <thead>
            <tr class="table-primary">
                <th>ID</th>
                <th>ICAO</th>
                <th>Callsign</th>
                <th>NACp</th>
            </tr>
        </thead>
        {% for flight_data in flight_data_list %}
        <tr data-toggle="modal" data-target="#myModal" 
        data-flight-id="{{ flight_data.id }}" data-flight-icao="{{ flight_data.icao }}" 
        data-flight-callsign="{{ flight_data.callsign }}" data-flight-nacp="{{ flight_data.nacp }}">
            <td>{{ flight_data.id }}</td>
            <td>{{ flight_data.icao }}</td>
            <td>{{ flight_data.callsign }}</td>
            <td>{{ flight_data.nacp }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Flight Details</h4>
            </div>
            <div class="modal-body">
              <p><strong>ID:</strong> <span id="data-flight-id"></span></p>
              <p><strong>ICAO:</strong> <span id="data-flight-icao"></span></p>
              <p><strong>Callsign:</strong> <span id="data-flight-callsign"></span></p>
              <p><strong>NACp:</strong> <span id="data-flight-nacp"></span></p>                         
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.min.js"></script>
<script>
    $(document).ready(function() {
        // WebSocket connection for new flight data
        var socket = io.connect("http://" + document.domain + ":" + location.port);
    
        // Handle WebSocket events for new flight data
        socket.on('new_flight_data', function(data) {
            const flightId = data.id;
            const flightIcao = data.icao;
            const flightCallsign = data.callsign;
            const flightNacp = data.nacp;
    
            const newRow = `<tr data-flight-id="${flightId}" data-flight-icao="${flightIcao}" 
                             data-flight-callsign="${flightCallsign}" data-flight-nacp="${flightNacp}">
                                 <td>${flightId}</td>
                                 <td>${flightIcao}</td>
                                 <td>${flightCallsign}</td>
                                 <td>${flightNacp}</td>
                             </tr>`;
    
            $('#flight-table tbody').append(newRow);
        });
    });
</script>
    
<script>
$(document).ready(function() {
    // WebSocket connection for NACp alerts
    var socket = io.connect("http://" + document.domain + ":" + location.port);

    // Handle WebSocket events for NACp alerts
    socket.on('nacp_alert', function(data) {
        // Display alert for flights with NACp value below threshold
        <!-- alert(`Alert: Flight ${data.callsign} has a NACp value of ${data.nacp}`); -->
        console.log(`Alert: Flight has a NACp value of`);
    });
});
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
      $(document).ready(function() {
          $('tr[data-toggle="modal"]').click(function() {
          var flightId = $(this).data('flight-id');
          var flightIcao = $(this).data('flight-icao');
          var flightCallsign = $(this).data('flight-callsign');
          var flightNacp = $(this).data('flight-nacp');
          
          $('#myModal #data-flight-id').text(flightId);
          $('#myModal #data-flight-icao').text(flightIcao);
          $('#myModal #data-flight-callsign').text(flightCallsign);
          $('#myModal #data-flight-nacp').text(flightNacp);
      });
    })
</script>

{% endblock %}