    
    <header>
        <div class="long-nav-bar">
            <div class="d-flex flex-wrap align-items-left justify-content-left">
                <ul class="nav">
                    <li class="navlink">
                        <img src="../static/logo.png" width="175px" height="35px" style="margin-top: 5px; margin-left: 5px; margin-right: 25px;">
                    </li>

                    <li class="navlink"><a href="{{ url_for('index') }}" class="nav-link px-2 navbaritem">
                        Home
                    </a></li>

                    <li class="navlink"><a href="{{ url_for('ads_b') }}" class="nav-link px-2 navbaritem">
                        ADS-B
                    </a></li>

                    <li class="navlink"><a href="{{ url_for('tdoa_alerts') }}" class="nav-link px-2 navbaritem">
                        TDOA
                    </a></li>
  
                    <li><a href="{{ url_for('status_sensors') }}" class="nav-link px-2 navbaritem">
                        Sensor Status
                    </a></li>
                </ul>
            </div>
        </div>
    </header>


